/* STYLE SECTIONING TAGS */
* {
  margin: 0px;
  padding: 0px;
  resize: both;
  
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2017/12/13/16/01/brain-3017071_1280.png");
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  display: block;
  text-align: center;
}

header {
  background-color: #EAF4D3;
}

/* STYLE TEXT */
h1 {
  font-family: 'Inconsolata', monospace;
  color: #88A2AA;
  padding-top: 1em;
  padding-bottom: 1em;

}

h2 { 
  font-family: 'Bitter', serif;
  margin-top: 1em;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #88A2AA;
  padding: 1em;
  color: #F7E3AF;
}

#break {
  padding: 1em;
  background-color: #EAF4D3;
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  justify-content: center;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
 margin: 25px;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
  border: 6px solid #88A2AA;
  margin-left: auto;
  margin-right: auto;
  
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25em;
  background-color: #EAF4D3;
}

#restart {
  margin-top: 1em;
  margin-bottom: 1em;
}

#show {
  margin-top: 5px;
  font-size: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: #EAF4D3;
}